<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>

        <link rel="stylesheet" th:href="@{/css/main.css}"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
</head>

<body>
<div th:fragment="header">
    <div class="topnav">
        <span th:if="${@userContextService.getLoggedUserEmail()}">
            <span th:if="${@userContextService.admin()}">
                <a href="/admin/add-paper">Dodaj papier</a>
                <a href="/admin/paper-list">Lista papierów</a>
            </span>

            <span th:if="${@userContextService.currentCustomer}">
                <a th:if="${@userContextService.getLoggedUserEmail()}" href="/products/add-product">Zamów produkt</a>
            </span>
            <span th:if="${@userContextService.currentCustomer}">
                <a th:if="${@userContextService.getLoggedUserEmail()}" href="/products/list">Lista produktów</a>
            </span>
            <span th:if="${@userContextService.getLoggedUserEmail() != null && @cartService.getCurrentUserCart() != null}">
            <a href="/products-in-cart">Koszyk</a>
            </span>

            <a href="/logout" style="float: right">Wyloguj</a>
        </span>

        <span th:if="!${@userContextService.getLoggedUserEmail()}">
            <a href="/register">Rejestracja</a>
            <a href="/login">Login</a>
        </span>
        <p th:if="${@userContextService.getLoggedUserEmail()}"
           th:text="'Zalogowano: '+ ${@userContextService.getLoggedUserEmail()}"
           style="float: right;color: white"></p>
    </div>
</div>

</body>
</html>