footer {
    margin-top: 60px;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #f2f2f2;
}

.shop-title {
    color: darkblue;
    width: 50%;
    position: relative;
    top: 20px;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin: auto;
}

a.add-product-index-menu:link,
a.add-product-index-menu:visited
 {
    color: white;
    text-decoration: none;

}
a.add-product-index-menu:hover,
a.add-product-index-menu:active{
    color: white;
    text-decoration: none;
}
.add-product-index {
    background-color: royalblue;
    width: 20vw;
    left: 20px;
    top: 50px;
    position: relative;
    color: white;
}
.addProduct-div{
    position: relative;
    margin: 10px;
    padding: 10px;
}

.addProduct {
    width: 90%;
    position: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    padding: 20px;
    margin: 20px;
}

.title{
    color: #333333;
    font-weight: normal;
    font-size: initial;
    padding: 10px;
}


.error {
    color: #FF0000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
