<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj produkt</title>
    <th:block th:replace="fragments/header :: header-css"></th:block>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form th:action="@{/paper/add-paper}" th:object="${newPaper}" method="post">

    <select th:field="*{paperCodeName}">
        <option th:each="pcn : ${paperCodeName}" th:value="${pcn}" th:text="${pcn}"></option>
    </select>

    <input type="number" th:field="*{weight}" placeholder="gramatura">

    <select th:filed="*{paperFinishType}">
        <option th:each="pf : ${paperFinishType}" th:value="${pf}" th:text="${pf}"></option>
    </select>

    <input type="text" th:field="*{format}" placeholder="format(mm)">

    <select th:field="*{productCategory}">
        <option th:each="pt : ${productCategoryType}" th:value="${pt}" th:text="${pt}"></option>
    </select>


    <button type="submit">Dodaj papier</button>

</form>


<div th:replace="fragments/footer :: footer"></div>

</body>
</html>