<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj produkt</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <th:block th:replace="fragments/header :: header-css"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1 class="shop-title">Zamów produkt</h1>

<section class="addProduct">
    <form th:action="@{/products/add-product}" th:object="${addNewProduct}" method="post">
        <div class="addProduct-div">
            <p>
                WYBIERZ PRODUKT
            </p>
            <select class="title" id="selectCategory" th:field="*{productCategory}">
                <option th:each="pt : ${productCategoryType}" th:value="${pt}" th:text="${pt}"></option>
            </select>
        </div>
        <div class="addProduct-div">
            <p>
                PAPIER
            </p>

            <span class="title">rodzaj papieru</span>
            <select class="title" th:field="*{paperId}">
                <option th:each="pt : ${paperCategoryAvaible}" th:value="${pt.getId()}"
                        th:text="${pt.getPaperCodeName()}"></option>
            </select>

            <span class="title">gramatura</span>
            <select class="title" th:field="*{paperId}">
                <option th:each="pt : ${paperCategoryAvaible}" th:value="${pt.getId()}"
                        th:text="${pt.getWeight()}"></option>
            </select>

            <span class="title">wykończenie</span>
            <select class="title">
                <option th:each="pt : ${paperCategoryAvaible}" th:value="${pt.getId()}"
                        th:text="${pt.getPaperFinishType()}"></option>
            </select>
        </div>

        <div class="addProduct-div">
            <p>
                FORMAT
            </p>
            <input class="title" type="text" th:field="*{endProducFormat}">
        </div>


        <div class="addProduct-div">
            <p>
                KOLORY
            </p>
            <input class="title" type="text" th:field="*{colors}" placeholder="4/0, 4/4, 4/1, 1/0,1/1">
            <p>
                <input class="title" type="checkbox" th:field="*{duplex}" th:text="'Duplex'"/>
            </p>
        </div>

        <div class="addProduct-div">
            <p>
                NAKŁAD
            </p>
            <input class="title" type="text" th:field="*{numberOfCopies}" placeholder="podaj własny nakład">
        </div>
        <div class="addProduct-div">
            <p>
                LICZBA /CENA
            </p>
            <select class="title" th:field="*{price}">
                <option th:each="vp : ${priceForCategory}" th:value="${vp.getId()}"
                        th:text="${vp.getVolume() + ' szt. / ' + vp.getNetPrice()+ ' netto pln'}"></option>
            </select>
        </div>


        <button type="submit">Dodaj produkt</button>

    </form>
</section>

<div th:replace="fragments/footer :: footer"></div>

<script>
    var selectInput = document.getElementById("selectCategory");
    selectInput.onchange = function () {
        window.location.href = "/products/add-product?category=" + selectInput.options[selectInput.selectedIndex].value;
    }
</script>
</body>
</html>