<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Cart</title>
    <th:block th:replace="fragments/header :: header-css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/productsList.css}"/>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="well well-sm">
        <strong>Cart:</strong>
    </div>

    <div id="cart" th:each="ca : ${cartProductsList}" class="list-group">
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 th:text="${ca.getProductCategory()}" class="group inner list-group-item-heading"></h4>
                    <span>id-Produktu</span>
                    <h5 th:text="${ca.getId()}" class="group inner list-group-item-heading"></h5>
                    <span>cena netto</span>
                    <h5 th:text="${ca.getPrice().getNetPrice()}" class="group inner list-group-item-heading"></h5>
                    <a th:href="@{'/remove-product-from-cart/' +${ca.id}}">
                        <button type="button" class="btn btn-error">usuń</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <span>Cena zamówienia z Vatem</span>
        <h5 th:text="${totalPrice}" class="lead"></h5>

        <a th:href="@{'/order/place-order/'}">
            <button type="button" class="btn btn-success">zamów</button>
        </a>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>