<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Papiery</title>
    <th:block th:replace="fragments/header :: header-css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/productsList.css}"/>

</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="well well-sm">
        <strong>Paper list:</strong>
    </div>

    <div id="products" th:each="pap : ${paperList}" class="list-group">
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 th:text="${pap.productCategory}" class="group inner list-group-item-heading"></h4>
                    <h5 th:text="${pap.paperCodeName}" class="group inner list-group-item-heading"></h5>
                    <h5 th:text="${pap.paperFinishType}" class="group inner list-group-item-text"></h5>
                    <p th:text="${pap.format}" class="group inner list-group-item-text"></p>
                    <p th:text="${pap.weight}" class="group inner list-group-item-text"></p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p th:text="${pap.getProductsOrderedWithThisPaper()}" class="lead"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#list').click(function (event) {
            event.preventDefault();
            $('#paper .item').addClass('list-group-item');
        });
        $('#grid').click(function (event) {
            event.preventDefault();
            $('#paper .item').removeClass('list-group-item');
            $('#paper .item').addClass('grid-group-item');
        });
    });

</script>
</body>
</html>