<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Produkty</title>
    <th:block th:replace="fragments/header :: header-css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/productsList.css}"/>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="well well-sm">
        <strong>Products list:</strong>
    </div>

    <div id="products" th:each="prod : ${productsList}" class="list-group">
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 th:text="${prod.productCategory}" class="group inner list-group-item-heading"></h4>

                    <span>papier: </span>
                    <h5 th:if="${prod.paper != null}"
                        th:text="${prod.paper.paperCodeName + ' ' + prod.paper.weight + ' ' + prod.paper.paperFinishType}"
                        class="group inner list-group-item-text"></h5>

                    <h5 th:if="${prod.paper == null}" th:text="'No paper chosen'"
                        class="group inner list-group-item-text"></h5>

                    <span>format: </span><h5 th:text="${prod.endProducFormat}"
                                             class="group inner list-group-item-text"></h5>
                    <span>kolory: </span><h5 th:text="${prod.colors}" class="group inner list-group-item-text"></h5>
                    <span>duplex: </span><h5 th:text="${prod.duplex}" class="group inner list-group-item-text"></h5>
                    <span>twój nakład: </span><h5 th:text="${prod.numberOfCopies}"
                                             class="group inner list-group-item-text"></h5>

                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <span>nakład: </span>
                            <p th:text="${prod.price.volume}" class="lead"></p>
                            <span>cena: </span>
                            <p th:text="${prod.price.netPrice}" class="lead"></p>

                            <a th:href="@{'/add-to-cart/'+${prod.id}}">
                                <button type="button" class="btn btn-success">Dodaj do koszyka</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#list').click(function (event) {
            event.preventDefault();
            $('#products .item').addClass('list-group-item');
        });
        $('#grid').click(function (event) {
            event.preventDefault();
            $('#products .item').removeClass('list-group-item');
            $('#products .item').addClass('grid-group-item');
        });
    });

</script>
</body>
</html>