<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>REJESTRACJA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<form th:action="@{/register}" th:object="${customerFormData}" method="post" class="form-signin">

    <p class="error" th:text="${userExistsException}"></p>

    <label for="firstName">Imię:</label>
    <input id="firstName" type="text" th:field="*{firstName}" autofocus class="form-control"/>
    <div class="error" th:errors="*{firstName}"></div>

    <label for="lastName">Nazwisko:</label>
    <input id="lastName" type="text" th:field="*{lastName}" autofocus class="form-control"/>
    <div class="error" th:errors="*{lastName}"></div>

    <label for="login">Login = email </label>
    <input type="email" id="login" autofocus class="form-control" th:field="*{email}"/>
    <div class="error" th:errors="*{email}"></div>

    <label for="passw">Hasło:</label>
    <input id="passw" type="password" th:field="*{password}" autofocus class="form-control"/>
    <div class="error" th:errors="*{password}"></div>


    <label for="postalCode">Kod pocztowy:</label>
    <input id="postalCode" type="text" th:field="*{postalCode}" autofocus class="form-control"/>
    <div class="error" th:errors="*{postalCode}"></div>

    <label for="city">Miasto:</label>
    <input id="city" type="text" th:field="*{city}" autofocus class="form-control"/>
    <div class="error" th:errors="*{city}"></div>

    <label for="street">Ulica:</label>
    <input id="street" type="text" th:field="*{street}" autofocus class="form-control"/>
    <div class="error" th:errors="*{street}"></div>

    <label for="buildingNumber">nr:</label>
    <input id="buildingNumber" type="text" th:field="*{buildingNumber}" autofocus class="form-control"/>
    <div class="error" th:errors="*{buildingNumber}"></div>

    <label for="houseNumber">nr domu:</label>
    <input id="houseNumber" type="text" th:field="*{houseNumber}" autofocus class="form-control"/>
    <div class="error" th:errors="*{houseNumber}"></div>

    <label for="country">państwo:</label>
    <input id="country" type="text" th:field="*{country}" autofocus class="form-control"/>
    <div class="error" th:errors="*{country}"></div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Utwórz konto</button>

</form>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>